/************************ GENERAL  ************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #6e6e6e;
}

ul {
  list-style: none;
}
/************************ /GENERAL  ************************/

/************************ UTILITY  ************************/
.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
}



/************************ /UTILITY  ************************/


/************************ HEADER  ************************/
header {
  height: 75px;
  background-color: rgba(8,11,18, .8);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  justify-content: end;
  align-items: center;
}

header .btn {
  margin-right: 20px;
  color: white;
  font-size: .8rem;
}

header .btn:hover {
  transform: scale(1.1);
}
/************************ /HEADER  ************************/

/************************ MAIN  ************************/

main {
  height: calc(100vh - 75px);
}

aside  a:hover, .content-main nav a:hover {
  color: white;
}

aside  a:hover svg {
  opacity: 1;
}
/************************ ASIDE  ************************/
aside {
  background-color: black;
  z-index: 2;
  overflow: hidden;
}

aside  a {
  font-size: .7rem;
  font-weight: 700;
}

.content-aside {
  height: calc(100vh - 75px);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-aside .logo {
  line-height: 75px;
  padding-left: 15px;
}
.content-aside .logo .big-logo {
  width: 120px;
  vertical-align: middle;
}

.content-aside nav.action {
  margin-bottom: 25px;
}

nav.action .xl-d-none {
  display: none;
}

nav.action .logo-xs {
  width: 25px;
  filter: invert(1);
}
aside nav  li {
  margin-bottom: 10px;
  padding-left: 15px;
}
aside  a svg {
  width: 25px;
  vertical-align: middle;
  opacity: .5;
}
aside a i {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
}
/* per creare l'effetto overflow sottraggo la grandezza dei contenuti del contenitore a 100vh per far si che la mia ul sia grande il restante dello spazio */
aside  nav.playlist ul{
  height: calc(100vh - 430px);
  overflow-y: auto;
  padding-bottom: 60px;
}

aside  nav.playlist h5{
  margin-bottom: 10px;
  padding-left: 15px;
}

aside .bottom {
  padding-left: 15px;
  padding-bottom: 10px;
}
aside .bottom a {
  display: inline-block;
}
aside .bottom svg {
  width: 1.5rem;
  vertical-align: middle;
  padding-right: 8px;
}
aside .bottom a::after {
  content: '';
  display: block;
  height: 8px;
  border-bottom: 1px solid #6e6e6e;
  width: 165%;
  margin-bottom: 15px;
}
aside .bottom .user img,
.content-aside.xs .bottom-xs img {
  background-color: grey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
aside .bottom .user span {
  padding-left: 5px;
  font-size: .8rem;
  font-weight: bold;
}

/************************ /ASIDE  ************************/


.content-main {
  padding-top: 100px;
  width: calc(100vw - 200px);
  overflow: auto;
  background-color: #141922;
}
/* nav bar  */
.content-main nav {
  margin-bottom: 25px;
}
.content-main nav ul{
  justify-content: center;
}
.content-main nav ul li{
  margin-right: 10px;
}

.content-main nav a {
  font-size: .8rem;
  font-weight: bold;
}
/* nav bar  */
section h2 {
  padding-left: 10px;
  margin-bottom: 30px;
}

.content-main section{
  padding-left: 20px;
  margin-bottom: 40px;
}

.content-main section .col {
  width: calc(100% / 6 - 10px);
  padding: 0 10px;
}

.card .cover {
  margin-bottom: 10px;
}

.card .title {
  text-align: center;
}

.card .title h3 {
  margin-bottom: 5px;
  font-size: .9rem;
}
.card .title h4 {
  font-size: .7rem;
  color: #6e6e6e;
}

section.subtitle h2::after {
  content: ' Più ascolti, più accurati saranno i suggerimenti.';
  display: block;
  font-size: .8rem;
  color: #6e6e6e;
  padding-top: 20px;
}

section#popular-artists img {
  border-radius: 50%;
}
/************************ /MAIN  ************************/



/************************ FOOTER  ************************/
footer {
  height: 75px;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.left-nav, .middle-nav, .right-nav {
  background-color: red;
  border: 1px solid white;
  width: 200px;
  height: 50px;
}


/************************ /FOOTER  ************************/


/*********************** MEDIA *****************************/
@media screen and ( max-width: 1050px ) {
  .content-main section .col {
    width: calc(100% / 4 - 10px);
  }
}
@media screen and ( max-width: 850px ) {
  .content-main section .col {
    width: calc(100% / 2 - 10px);
  }
}


@media screen and ( max-width: 600px ) {
  /* main */
  .content-main {
    width: calc(100vw - 50px);
  }

  .content-aside {
    width: 50px;
    text-align: center;
    padding: 10px 0;
  }

  aside nav li,
  aside .bottom {
    padding-left: 0;
  }

  aside .xs-d-none {
    display: none;
  }

  nav.action .xl-d-none {
    display: inline-block;
  }

  aside .bottom svg {
    width: 1.2rem;
    padding-right: 0;
    margin-bottom: 20px;
  }

  aside .bottom a::after {
    display: none;
  }

   /* /main */
}